<div class="row-fluid" ng-controller="HeaderCtrl">
    <div class="header-row row-fluid">
        Hello, {{adminFirstName}}
    </div>
    <!--<div class="row-fluid" style="position: relative">-->
        <!--<div class="breadcrumb pull-left" style="margin-left: 10px;">-->
            <!--<li ng-repeat="breadcrumbItem in breadcrumbs">-->
                <!--<a ng-href="{{breadcrumbItem.url}}" ng-click="breadcrumbClicked(breadcrumbItem)" id={{breadcrumbItem.title}} ng-class="{'lastBreadcrumbItem':$last}">{{breadcrumbItem.title}}</a>-->
                <!--<span class="divider" ng-hide="$last">&gt;</span>-->
            <!--</li>-->
        <!--</div>-->
    <!--</div>-->

	<div class="row-fluid">
		<div class="series-page-header">
			<div class="row-fluid">
				<div class="tabbable">
					<ul class="nav nav-tabs" ng-model="currentTab">
						<li ng-repeat="tab in tabs" ng-class="{active:tab.selected}">
							<a ng-href="#/{{tab.name}}" id={{tab.title}}>{{tab.title}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

